<section id="game-content" class="container" hx-get hx-trigger="every 2s" hx-swap="outerHTML">
    <h3>Room ID: {{ game.room_id }}</h3>
    <h3>Players</h3>
    <ul>
        {% for player in game.players %}
        <li>{{ player.name }} {% if player.is_you %}(you){% endif %}</li>
        {% endfor %}
    </ul>

    {% match game.in_progress_game %}
    {% when Some with (game) %}
    {% include "game_in_progress.html" %}
    {% when None %}
    <button hx-post="start">Start game</button>
    {% endmatch %}
</section>